.sectionContainer {
  position: fixed;
  top: 2.75rem;
  left: 2.5rem;
  font-size: 1.2rem;
  color: var(--font-color);
  z-index: 10;
}

@media (max-width: 992px) {
  .sectionContainer {
    top: 2.5rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .sectionContainer {
    left: 1.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .sectionContainer {
    top: 1.75rem;
    font-size: 1rem;
  }
}
