.pill {
  border: solid 2px var(--button-bg-color);
  border-radius: 18px;
  padding: 0.2em 0.6em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--button-bg-color);
  color: var(--font-color);
}

.skillsContainer * {
  display: inline-block;
}

.card {
  width: var(--card-width);
}

.viewButton {
  color: var(--font-color);
  text-decoration: underline;
  margin-right: 0.5rem;
}

.viewIcon {
  height: 18px;
  width: auto;
}

.cardContainer {
  transition: border 0.3s ease;
  padding: 8px;
  border-radius: 12px;
  border: 2px solid var(--background-color);
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  padding: 1.5rem;
}
.cardContainer:hover {
  border: 2px solid var(--font-color);
}
.cardContainer p,
.cardContainer a,
.pill {
  font-size: 1rem;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: #919191 3px solid;
  align-self: center;
}
.thumbnail:hover {
  border-color: #bababa;
}

@media (max-width: 992px) {
  .thumbnail {
    width: 80%;
  }

  .cardContainer:hover {
    border: unset;
  }
}

@media (max-width: 768px) {
  .cardContainer p,
  .cardContainer a,
  .pill {
    font-size: 0.9rem;
  }

  .cardContainer {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .cardContainer p,
  .cardContainer a,
  .pill {
    font-size: 0.8rem;
  }

  .cardContainer {
    padding: 0;
  }
}
