.contactContainer {
  display: relative;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 3.5rem;
  bottom: 15rem;
  z-index: 10;
}

.menuContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
.menuContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactIcon {
  height: 42px;
  width: auto;
  transition: transform 0.3s ease;
}
.contactIcon:hover {
  transform: scale(1.2);
}

.contactButton {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #fff;
  padding: 0;
  display: none;
}

@media (max-width: 992px) {
  .contactContainer {
    left: 2.5rem;
    bottom: 13.5rem;
  }

  .contactIcon {
    height: 38px;
  }
}

@media (max-width: 768px) {
  .contactContainer {
    left: 1.5rem;
    bottom: 12rem;
  }
}

@media (max-width: 576px) {
  .contactButton {
    display: flex;
    padding: 0.5rem;
  }
  .contactButton svg {
    height: 28px;
  }

  .contactContainer {
    row-gap: 0;
    left: 1rem;
    bottom: 1rem;
    position: fixed;
  }

  .menuContainer {
    position: relative;
    min-height: 46px;
    min-width: 46px;
  }
  .menuContainer a {
    height: 32px;
    position: absolute;
  }
}
