.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  column-gap: 1rem;
  background: rgba(1, 1, 1, 0);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  z-index: 200;
}

.navLinks {
  display: flex;
  height: max-content;
}

.navLink {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border-radius: 0;
  overflow: hidden;
  font-size: 1.2rem;
  color: var(--font-color);
  margin: 0 1.5rem;
}
/* enable animations *only* on desktop view */
@media (hover: hover) and (pointer: fine) {
  .navLink {
    transition: background-color 0.3s ease;
  }
  .navLink::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--button-bg-color);
    transform: scaleX(0);
    transform-origin: center right;
    transition: transform 0.3s ease;
    z-index: -1;
  }
  .navLink:hover {
    border-color: transparent;
  }
  .navLink:hover::before {
    transform: scaleX(1);
    transform-origin: left center;
  }
}

.mobileNav {
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.mobileNavLink {
  background-color: transparent;
  border-radius: 0;
  width: 100%;
}

.navButton {
  display: none;
  background-color: transparent;
  fill: var(--font-color);
}
.navButton svg {
  height: 26px;
}

@media (max-width: 992px) {
  .navLink {
    font-size: 1.1rem;
    margin: 0 1rem;
  }
}

@media (max-width: 768px) {
  .navLink {
    font-size: 1rem;
    margin: 0 0.25rem;
  }
}

@media (max-width: 576px) {
  .navbar {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem 0;
  }

  .navLinks {
    display: none;
  }

  .navButton {
    display: flex;
  }
}
