.sectionContainer {
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  height: 30rem;
}

.headerContainer {
  display: flex;
  flex: 1;
  height: 100%;
  border-bottom: solid 2px var(--font-color);
}

.projectContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1.5rem;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .projectContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .projectContainer {
    padding: 1rem 0;
  }
}
