.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.techTrackContainer {
  width: 100%;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  mask-image: linear-gradient(90deg, #0000, #000 15% 85%, #0000);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.techTrack {
  display: inline-flex;
  align-items: center;
  gap: clamp(2rem, 10vw, var(--gap-size));
  animation: scroll 50s infinite linear;
}

.techTrack a {
  position: relative;
  display: inline-block;
}
.techTrack a::before {
  content: attr(label);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  color: #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 12px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.techTrack a:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-4px);
}

.techTrack img {
  width: clamp(48px, 8vw, 56px);
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.techTrack img:hover {
  transform: scale(1.2);
}

.divider {
  width: 300px;
  height: 2px;
  background-color: var(--font-color);
  border: none;
  border-radius: 8px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-50% - var(--gap-size) / 2));
  }
}
