.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0 10rem;
  gap: 5rem 0;
}

.highlight {
  position: relative;
  display: inline-block;
  z-index: -1;
}
.highlight-text {
  position: relative;
  z-index: 1;
}
.highlight-bg {
  position: absolute;
  left: 8px;
  bottom: 2px;
  width: 100%;
  height: 12px;
  background-color: var(--highlight-color);
  opacity: 70%;
  z-index: 0;
  filter: blur(2px);
  transform: scaleX(0);
  transform-origin: left center;
}

.form-control:focus,
.form-control:focus-visible {
  border-color: var(--button-bg-color) !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem var(--highlight-color);
}

@media (max-width: 992px) {
  .content {
    padding: 5rem 7rem 0;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 5rem 4rem 0;
  }
}

@media (max-width: 576px) {
  .content {
    padding: 5rem 1rem 0;
  }
}
