:root,
body {
  --gap-size: 4rem;
  --card-width: 18rem;

  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow-x: hidden;
  color: var(--font-color);
  background-color: var(--background-color);
  transition: background-color 0.5s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--button-bg-color);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: clamp(3.5rem, 8vw, 5rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(2.5rem, 4vw, 3rem);
}

p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: var(--font-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

section {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 16px;
  display: flex;
  align-items: center;
}

footer div {
  --bs-border-color: var(--font-color);
}

span svg:hover {
  animation: roll 2s linear infinite;
}

@keyframes roll {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.icon {
  height: 36px;
  display: flex;
  justify-content: center;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root[data-theme="light"] {
  --font-color: #3c402b;
  --background-color: #efeae3;
  --button-bg-color: #8d9a6c;
  --gradient-start: hsl(95, 17%, 83%);
  --gradient-end: hsl(166, 16%, 52%);
  --animation-base-color: #fffefc;
  --highlight-color: #c6ccad;
}
:root[data-theme="dark"] {
  --font-color: #f4f9fc;
  --background-color: #27374d;
  --button-bg-color: #8eb8e5;
  --gradient-start: hsl(199, 59%, 64%);
  --gradient-end: hsl(180, 2%, 99%);
  --animation-base-color: #2a2a2a;
  --highlight-color: #93dce6;
}
